.container {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr;
    grid-template-areas: 'nav redbox greenbox bluebox';
}

.nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background-color: rgb(163, 41, 163);
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#bt {
    border: 1px solid white;
    border-radius: 50%;
}

.box {
    height: 500px;
}

.box:hover {
    opacity: 0.9;
}

.redbox {
    grid-area: redbox;
    background-color: brown;
}

.greenbox {
    grid-area: greenbox;
    background-color: green;
}

.bluebox {
    grid-area: bluebox;
    background-color: blueviolet;
}

@media screen and (max-width: 1000px){
	.container{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
			'nav nav nav'
			'redbox greenbox bluebox'
		;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 80px;
    }

}

@media screen and (max-width: 600px){
	.container{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav'
			'redbox'
            'greenbox'
            'bluebox'
		;
    }
    .box {
        height: 150px;
    }
}